/* 提示框的CSS样式 */
#agplAlert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(105,105,105,0.9);
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  animation-fill-mode: forwards;
  opacity: 0;
}
/* 动画效果 */
/* 当提示框显示时添加动画 */
.showAlert {
  animation: slideOut 7s forwards;
}
@-moz-keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
